*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
.idea
.nodemonignore
.tmp
bower_components
dist
lib-cov
coverage.html

.idea/
logs
pids
results

node_modules
npm-debug.log

coverage/app

Capfile.d/local.rb
.DS_Store
